# Ignore virtual environment
env/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore database files
db.sqlite3

# Ignore log files
*.log

# Ignore VSCode settings
.vscode/

# Ignore compiled static files (if applicable)
staticfiles/

# Ignore media uploads (optional)
media/
